# Ignore WordPress core
public/*
!public/wp-content/
public/wp-content/*
!public/wp-content/plugins/
public/wp-content/plugins/*
!public/wp-content/plugins/community-framework-manager/

# Ignore generated/local WP content
public/wp-config.php
public/wp-content/uploads/
public/wp-content/cache/
public/wp-content/upgrade/
public/wp-content/debug.log

# Keep DDEV config
!.ddev/
.ddev/.global_commands/
.ddev/.homeadditions/
.ddev/.ssh-auth-compose.*
.ddev/docker-compose.*_built.yaml

# OS/editor
.DS_Store
Thumbs.db
.vscode/
